@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --main-font: "PT Sans", sans-serif;
  --title-font: "Balsamiq Sans", sans-serif;
  --accent-color: #3e883e;
  --input-outline-color: #269fcf;
  --auth-button-color: #55a2d4;
}

body {
  font-family: var(--main-font);
  box-sizing: border-box;
}

#root {
  height: 100vh;
}
